
nav{
    background-color: #333;
}
a:hover {
    background-color: #111;
  }
header {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
}

h1 {
    font: 800 40px;
    text-decoration: none;
    font-family: 'Kaushan Script', cursive;

    
}
span{
    color: rgb(7, 67, 102);
}